.heading {
  font-family: PlayfairDisplay;
  font-size: 20px;
  letter-spacing: 0.6px;
  margin-left: 1%;
}
sup {
  color: #fb5678;
}
label {
  margin-bottom: 2%;
  font-family: inter;
}
.col {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
}
.row {
  display: flex;
  flex-direction: row;
}
.academic label {
  flex: 1;
}
.academic input {
  flex: 2;
}
